.display-single-user{
        font-size: 13px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        width: 70px;
        cursor: pointer;
       border-bottom: 1px solid rgb(228, 228, 228);
}
.display-single-user img{
        width:40px;
        height: 40px;
       
        border-radius: 50px;
}